USE [EDMyReEsop]
GO
/****** Object:  Table [dbo].[COMPANY_INSTRUMENT_MAPPING]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING](
	[CIM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[CurrencyID] [int] NOT NULL,
	[MSE_ID] [nvarchar](100) NULL,
	[SEM_VAL_RPT_ID] [int] NULL,
	[IS_ENABLED] [tinyint] NULL,
	[INS_DISPLY_NAME] [nvarchar](500) NULL,
	[CAL_PERQUSITE_VAL] [tinyint] NOT NULL,
	[EXCEPT_FOR_PERQ_VAL] [tinyint] NOT NULL,
	[CAL_PROPORTIONATE_VAL] [tinyint] NOT NULL,
	[EXCEPT_FOR_PROPORT_VAL] [tinyint] NOT NULL,
	[EXCEPT_FOR_FMV_VAL] [tinyint] NOT NULL,
	[EXCEPT_FOR_FMV] [nvarchar](10) NULL,
	[EXCEPT_FOR_PERQUISITE] [nvarchar](10) NULL,
	[EXCEPT_FOR_PROPORTIONATE] [nvarchar](10) NULL,
	[COUNTRY_CATEGORY_PROPORT] [nvarchar](50) NULL,
	[PAYMENTMODE_BASED_ON] [varchar](20) NULL,
	[EXCEPT_FOR_TAXRATE_VAL] [tinyint] NULL,
	[EXCEPT_FOR_TAXRATE] [nvarchar](10) NULL,
	[IS_TAXRATE_ACTIVE] [tinyint] NULL,
	[IS_TAXRATEEXCEPTION_ACTIVE] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[IS_PAYMENTWINDOW_ENABLED] [char](1) NULL,
	[NUMBEROFDAYS] [int] NULL,
	[PAYMENT_CLOSURE_MSG] [varchar](1000) NULL,
	[TAXCALCULATION_BASEDON] [varchar](50) NULL,
	[EXCEPT_FOR_TAXRATE_EMPLOYEE] [nchar](3) NULL,
	[ISActivedforEntity] [bigint] NULL,
	[EntityBaseOn] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY_MASTER]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY_MASTER](
	[CompanyID] [varchar](20) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[CompanyAddress] [ntext] NULL,
	[CompanyURL] [varchar](50) NULL,
	[CompanyEmailID] [varchar](50) NOT NULL,
	[AdminEmailID] [varchar](50) NOT NULL,
	[AdminUserID] [varchar](20) NOT NULL,
	[AdminPassword] [varchar](20) NOT NULL,
	[StockExchangeType] [char](1) NULL,
	[StockExchangeCode] [varchar](20) NULL,
	[LastUpdatedBy] [varchar](20) NOT NULL,
	[SMPTServerIp] [nvarchar](50) NULL,
	[SMPTServerPort] [char](15) NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
	[MaxLoginAttempts] [numeric](18, 0) NOT NULL,
	[ISFUNDINGALLOWED] [bit] NOT NULL,
	[IsNominationEnabled] [tinyint] NOT NULL,
	[DMSetting_Note] [varchar](max) NULL,
	[IsSSOActivated] [bit] NOT NULL,
	[SITEURL] [varchar](500) NULL,
	[FMVCalculation_Note] [varchar](max) NULL,
	[IsPUPEnabled] [bit] NOT NULL,
	[DisplayAs] [varchar](50) NOT NULL,
	[BaseCurrencyID] [int] NOT NULL,
	[VwMenuForGrpCompany] [varchar](10) NULL,
	[VersionNumber] [varchar](10) NULL,
	[BROKER_SETTING_NOTE] [varchar](max) NULL,
	[IS_ADS_ENABLED] [bit] NOT NULL,
	[IsListingEnabled] [bit] NULL,
	[IsHRMSEnabled] [bit] NOT NULL,
	[AlertExEmployees] [bit] NOT NULL,
	[Is_PFUTP_Setting] [bit] NOT NULL,
	[IS_EGRANTS_ENABLED] [bit] NOT NULL,
	[IS_SCHWISE_DOC_UPLOAD] [bit] NOT NULL,
	[IS_CONSENT_SET] [bit] NOT NULL,
	[CONSENT_MESSAGE] [varchar](max) NULL,
	[AuthenticationModeID] [tinyint] NOT NULL,
	[IsSSOAPIActivated] [tinyint] NOT NULL,
	[SSOAPIParams] [varchar](200) NULL,
	[SSOAPIURL] [varchar](200) NULL,
	[LogoutURL] [varchar](500) NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_INSTRUMENT_TYPE]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_INSTRUMENT_TYPE](
	[MIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INSTRUMENT_NAME] [nvarchar](500) NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[IS_AUTO_EXERCISE] [tinyint] NULL,
	[IS_SAR_ENABLED] [tinyint] NULL,
	[INSTRUMENT_GROUP] [bigint] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_STOCK_EXCHANGE]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_STOCK_EXCHANGE](
	[MSE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STOCK_EXCHANGE_NAME] [nvarchar](100) NOT NULL,
	[STOCK_EXCHANGE_SYMBOL] [nvarchar](100) NOT NULL,
	[STOCK_EXCHANGE_URL] [nvarchar](500) NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[CurrencyID] [int] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMPANY_INSTRUMENT_MAPPING] ON 
GO
SET IDENTITY_INSERT [dbo].[COMPANY_INSTRUMENT_MAPPING] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_INSTRUMENT_TYPE] ON 
GO
INSERT [dbo].[MST_INSTRUMENT_TYPE] ([MIT_ID], [INSTRUMENT_NAME], [IS_ACTIVE], [IS_AUTO_EXERCISE], [IS_SAR_ENABLED], [INSTRUMENT_GROUP], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (1, N'Stock Options ESOPs', 1, 0, 0, 1030, N'ADMIN', CAST(N'2017-08-18T16:34:01.850' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:34:01.850' AS DateTime))
GO
INSERT [dbo].[MST_INSTRUMENT_TYPE] ([MIT_ID], [INSTRUMENT_NAME], [IS_ACTIVE], [IS_AUTO_EXERCISE], [IS_SAR_ENABLED], [INSTRUMENT_GROUP], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (2, N'Stock Options RSU', 1, 0, 0, 1030, N'ADMIN', CAST(N'2017-08-18T16:34:01.867' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:34:01.867' AS DateTime))
GO
INSERT [dbo].[MST_INSTRUMENT_TYPE] ([MIT_ID], [INSTRUMENT_NAME], [IS_ACTIVE], [IS_AUTO_EXERCISE], [IS_SAR_ENABLED], [INSTRUMENT_GROUP], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (3, N'ADR - ESOPs', 1, 0, 0, 1029, N'ADMIN', CAST(N'2017-08-18T16:34:01.877' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:34:01.877' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MST_INSTRUMENT_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_STOCK_EXCHANGE] ON 
GO
INSERT [dbo].[MST_STOCK_EXCHANGE] ([MSE_ID], [STOCK_EXCHANGE_NAME], [STOCK_EXCHANGE_SYMBOL], [STOCK_EXCHANGE_URL], [IS_ACTIVE], [CurrencyID], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (1, N'National Stock Exchange of India Ltd', N'NSE', N'https://www.nseindia.com/', 1, 1, N'ADMIN', CAST(N'2017-08-18T16:33:59.523' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:33:59.523' AS DateTime))
GO
INSERT [dbo].[MST_STOCK_EXCHANGE] ([MSE_ID], [STOCK_EXCHANGE_NAME], [STOCK_EXCHANGE_SYMBOL], [STOCK_EXCHANGE_URL], [IS_ACTIVE], [CurrencyID], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (2, N'Bombay Stock Exchange', N'BSE', N'http://www.bseindia.com/', 1, 1, N'ADMIN', CAST(N'2017-08-18T16:33:59.570' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:33:59.570' AS DateTime))
GO
INSERT [dbo].[MST_STOCK_EXCHANGE] ([MSE_ID], [STOCK_EXCHANGE_NAME], [STOCK_EXCHANGE_SYMBOL], [STOCK_EXCHANGE_URL], [IS_ACTIVE], [CurrencyID], [CREATED_BY], [CREATED_ON], [UPDATED_BY], [UPDATED_ON]) VALUES (3, N'The New York Stock Exchange', N'NYSE', N'https://www.nyse.com/index', 1, 2, N'ADMIN', CAST(N'2017-08-18T16:33:59.580' AS DateTime), N'ADMIN', CAST(N'2017-08-18T16:33:59.580' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MST_STOCK_EXCHANGE] OFF
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [IS_ENABLED]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [CAL_PERQUSITE_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [EXCEPT_FOR_PERQ_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [CAL_PROPORTIONATE_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [EXCEPT_FOR_PROPORT_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [EXCEPT_FOR_FMV_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [EXCEPT_FOR_TAXRATE_VAL]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [IS_TAXRATE_ACTIVE]
GO
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAPPING] ADD  DEFAULT ((0)) FOR [IS_TAXRATEEXCEPTION_ACTIVE]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [ISFUNDINGALLOWED]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsNominationEnabled]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsSSOActivated]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT (NULL) FOR [SITEURL]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsPUPEnabled]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ('PUP Scheme') FOR [DisplayAs]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((1)) FOR [BaseCurrencyID]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IS_ADS_ENABLED]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsListingEnabled]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsHRMSEnabled]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [AlertExEmployees]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [Is_PFUTP_Setting]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IS_EGRANTS_ENABLED]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IS_SCHWISE_DOC_UPLOAD]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IS_CONSENT_SET]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [AuthenticationModeID]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT ((0)) FOR [IsSSOAPIActivated]
GO
ALTER TABLE [dbo].[COMPANY_MASTER] ADD  DEFAULT (NULL) FOR [LogoutURL]
GO
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_AUTO_EXERCISE]
GO
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_SAR_ENABLED]
GO
ALTER TABLE [dbo].[MST_STOCK_EXCHANGE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]
AS
BEGIN

	SET NOCOUNT ON;			

	SELECT 
		MIT.MIT_ID,
		(CASE WHEN ISNull(CIM.INS_DISPLY_NAME,'') != '' THEN 
			CIM.INS_DISPLY_NAME
		ELSE 
			MIT.INSTRUMENT_NAME
		END) AS INSTRUMENT_NAME, ISNULL(EXCEPT_FOR_TAXRATE_VAL,0) AS EXCEPT_FOR_TAXRATE_VAL,
		CONVERT(BIT, ISNULL(CIM.IS_TAXRATE_ACTIVE,0)) AS IS_TAXRATE_ACTIVE, 
		CONVERT(BIT,ISNULL(CIM.IS_TAXRATEEXCEPTION_ACTIVE,0)) AS IS_TAXRATEEXCEPTION_ACTIVE,
		ISNULL(PAYMENTMODE_BASED_ON,'') AS PAYMENTMODE_BASED_ON
		,COALESCE(NULLIF(EXCEPT_FOR_TAXRATE,''),'R') AS EXCEPT_FOR_TAXRATE,ISNULL(CIM.IS_PAYMENTWINDOW_ENABLED,'P') AS IS_PAYMENTWINDOW_ENABLED,CIM.NUMBEROFDAYS,CIM.PAYMENT_CLOSURE_MSG,RTRIM(EXCEPT_FOR_TAXRATE_EMPLOYEE) AS EXCEPT_FOR_TAXRATE_EMPLOYEE,TAXCALCULATION_BASEDON
	FROM MST_INSTRUMENT_TYPE MIT  
	INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
	WHERE  MIT.IS_ACTIVE = 1 AND  IS_ENABLED = 1

	SET NOCOUNT OFF;	
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COMPANY_INFO]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
     -- SP - COMPANY INFO  --
-- =============================================  
CREATE PROCEDURE [dbo].[PROC_GET_COMPANY_INFO]  
AS  
BEGIN  
 SELECT CompanyName,CompanyAddress,CompanyEmailID,AdminEmailID,CompanyURL,AdminUserID,MaxLoginAttempts  
    FROM COMPANY_MASTER    
END  
  
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_INSTRUMENT_LIST]    Script Date: 05/06/2019 06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_INSTRUMENT_LIST]
	
AS
BEGIN
	SET NOCOUNT ON;	
			
	SELECT 
		MIT_ID, INSTRUMENT_NAME, IS_ACTIVE, IS_AUTO_EXERCISE 
	FROM MST_INSTRUMENT_TYPE  
	WHERE 
		IS_ACTIVE = 1
	
	SELECT 
		MSE_ID, STOCK_EXCHANGE_SYMBOL 
	FROM MST_STOCK_EXCHANGE 
	WHERE 
		IS_ACTIVE = 1
		   
    SELECT 
		MIT_ID, CurrencyID, MSE_ID, SEM_VAL_RPT_ID, IS_ENABLED, INS_DISPLY_NAME, CREATED_ON 
	FROM COMPANY_INSTRUMENT_MAPPING   

	SET NOCOUNT OFF;	
END
GO
